@use '../../styles/_variable.scss' as *;

// 공통
.sub__title {
  position: relative;
  margin-bottom: 2rem;
  padding-left: 4rem;
  font: {
    size: 2.4rem;
    weight: 700;
  }
  letter-spacing: -.02rem;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 3rem;
    height: 2px;
    background-color: rgba(map.get($colors, "white"), .8);
  }
}

// 소개
.about {
  position: relative;

  &_myself {
    position: relative;
    padding: 1.5rem;
    border-top: 3px solid map.get($colors, "primary");

    p {
      font: {
        size: 1.4rem;
        weight: 300;
      }
      white-space: pre-line;
      word-break: keep-all;
      line-height: 1.5625;

      strong {
        font: {
          size: 2rem;
          weight: 600;
        }
      }
    }
  }

  &_keyword {
    padding: 1.5rem;
  }
}

// 기술 스펙
.tech {
  padding: 10rem 0 0;

  &_area_list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-content: baseline;
    gap: 1rem;
    padding: 2rem;
  }

  &_area_spec {
    margin-top: 2rem;

    ul {
      > li {
        + li {
          margin-top: 1rem;
        }
      }
    }
  }

  &_spec_content {
    padding: 2rem;

    p {
      white-space: pre-line;
      font: {
        size: 1.4rem;
        weight: 300;
      }
      word-break: keep-all;
      line-height: 1.5625;

      strong {
        font: {
          size: 2rem;
          weight: 600;
        }
        letter-spacing: -.05rem;
      }
    }
  }
}



.cont {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

  .title__wrap {
    .date {
      display: block;
      margin-bottom: 1rem;
      font: {
        size: 1.4rem;
        weight: 400;
      }
      color: #a6a6a6;
    }

    .company {
      margin: 3rem 0 1.5rem;
      font: {
        size: 2.4rem;
        weight: 700;
      }
      color: map.get($colors, "white");
    }

    .department {
      font: {
        size: 1.4rem;
        weight: 400;
      }
      color: map.get($colors, "white");

      + .department {
        margin-top: .75rem;
      }
    }
  }

  .charge__list {
    margin-top: 5rem;

    > li {
      + li {
        margin-top: .5rem;
      }

      span {
        position: relative;
        display: block;
        padding-left: 1.25rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: #a6a6a6;
        line-height: 1.5;
        letter-spacing: -.02rem;
        word-break: keep-all;

        &::before {
          content: '';
          position: absolute;
          top: .85rem;
          left: 0;
          width: 4px;
          height: 4px;
          background-color: #a6a6a6;
          border-radius: 100%;
        }
      }
    }
  }
}


.shortProfile__cont {
  font: {
    size: 1.4rem;
    weight: 300;
  }
  line-height: 1.5;
  word-break: keep-all;
  white-space: pre-line;

  strong {
    font: {
      size: 1.6rem;
      weight: 700;
    }
  }

  & + & {
    margin-top: 1rem;
  }
}

.keyword__title {
  margin-bottom: 1.5rem;
  font: {
    size: 1.8rem;
    weight: 700;
  }
  letter-spacing: -.02rem;
}

.keyword__desc {
  font: {
    size: 1.5rem;
    weight: 300;
  }
  letter-spacing: -.02rem;
}

.keyword__label__wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;

  .keyword__label {
    padding: .75rem;
    background-color: #0c0c0c;
    border-radius: 6px;
    font-size: 1.3rem;
    letter-spacing: -.02rem;
    color: #fff;
  }
}

.keyword__cont {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/keyword.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.skill {
  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    padding: 1.5rem;
    background-color: rgba(#f8f9fa, .8);
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
  }

  &__item {
    position: relative;
    overflow: hidden;

    &:hover {
      span {
        opacity: 1;
        visibility: visible;
      }
    }

    span {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      opacity: 0;
      visibility: hidden;
      padding: .5rem;
      background-color: rgba(#323232, .9);
      border-radius: 4px;
      font-size: 1.3rem;
      z-index: 1;
      transition: .5s;
    }
  }
}

.contact {
  height: 100%;
  padding: 1.5rem 2rem;
  background-color: #f7f7f7;
  border-left: 8px solid map.get($colors, "primary");
  font: {
    size: 1.3rem;
    weight: 400;
  }
  color: #111;

  &__name {
    margin-bottom: 1rem;
    font: {
      size: 1.5rem;
      weight: 700;
    }
  }

  &__desc {
    font: {
      size: 1.3rem;
      weight: 400;
    }
    color: #666;
  }

  &__list {
    > li {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 1.2rem;

      span {
        display: inline-flex;
        align-items: center;
        gap: .5rem;

        svg {
          width: 2rem;
          height: 2rem;
          fill: #212529;
        }
      }
    }
  }
}


/** Media Query */
@media all and (min-width: 768px) {
  .sub__title {
    margin-bottom: 3.5rem;
    font-size: 3rem;
  }

  .about {
    &_myself {
      p {
        font-size: 1.6rem;

        strong {
          font-size: 2.2rem;
        }
      }
    }
  }

  .shortProfile__cont {
    font-size: 1.6rem;

    strong {
      font-size: 1.8rem;
    }
  }

  .keyword__label__wrap {
    margin-top: 3rem;
  
    .keyword__label {
      padding: .75rem 1rem;
    }
  }

  .skill {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    &__list {
      padding: 3rem;
    }
  }

  .cont {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .title__wrap {
      .department {
        font-size: 1.6rem;
      }
    }

    .charge__list {
      > li {
        span {
          font-size: 1.6rem;
        }
      }
    }
  }

  .keyword__title {
    font-size: 2.5rem;
  }

  .keyword__desc {
    font-size: 1.7rem;
  }

  // 기술 및 도구
  .tech {
    &_area {
      display: flex;
      gap: 2rem;

      &_list {
        flex: 1 0 55rem;
        gap: 1.5rem;
      }
    }

    &_spec_content {
      padding: 2rem 4.5rem;

      p {
        font-size: 1.6rem;

        strong {
          font-size: 2.4rem;
        }
      }
    }
  }
}

@media all and (min-width: 992px) {
  .about {
    display: grid;
    grid-template-columns: auto 40rem;
    gap: 2rem;

    &_myself {
      padding: 2.5rem;
      border-top: 0;
      border-left: 3px solid map.get($colors, "primary");

      p {
        + p {
          margin-top: .7rem;
        }
      }
    }

    &_keyword {
      padding: 2.5rem;
    }
  }
}