@use '../../styles/variable' as *;

.intro {
  position: relative;
  height: calc(100vh - 7rem);
  padding: 5rem 0 0;

  .inner {
    position: relative;
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .intro__info {
    .intro__summary {
      font-size: 2rem;
    }

    .self {
      margin: 4rem 0;
      font: {
        size: 6rem;
        weight: 700;
      }
      letter-spacing: -6px;
      word-break: keep-all;
      line-height: 1.4;

      strong {
        display: block;
        color: map.get($colors, "primary");
      }
    }

    .description {
      font: {
        size: 1.6rem;
        weight: 400;
      }
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

/** Media Query */
@media (max-width: 500px) {
  .intro {
    .inner {
      padding: 0 1.25rem;
    }

    .intro__info {
      .intro__summary {
        font-size: 1.8rem;
      }

      .self {
        font-size: 4rem;
        letter-spacing: -.5px;
      }

      .description {
        font-size: 1.4rem;
      }
    }
  }
}

@media all and (min-width: 992px) {
  .intro {
    padding: 9rem 0 0;
    
    .intro__info {
      .self {
        margin: 6rem 0; 
        font-size: 8rem;
      }
    }
  }
}