@use '../../styles/variable' as *;

.intro {
  position: relative;
  height: calc(100vh - 7rem);
  padding: 5rem 0 0;

  .inner {
    position: relative;
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .intro__info {
    .intro__summary {
      font-size: 2rem;
    }

    .self {
      margin: 4rem 0;
      font: {
        size: 6rem;
        weight: 700;
      }
      letter-spacing: -6px;
      word-break: keep-all;
      line-height: 1.4;

      strong {
        display: inline-block;
        color: map.get($colors, "primary");
      }
    }

    .description {
      font: {
        size: 1.6rem;
        weight: 400;
      }
      color: rgba(255, 255, 255, 0.8);
      line-height: 2;
      word-break: keep-all;
    }
  }

  .btn__container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 4rem;

    .btn__download {
      display: inline-flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem 2rem;
      border: 1px solid map.get($colors, "primary");
      border-radius: 45px;
      font-size: 1.6rem;
      color: map.get($colors, "primary");
      transition: .4s;

      &:hover {
        background-color: map.get($colors, "primary");
        color: map.get($colors, "white");
      }
    }

    .btn__github {
      color: map.get($colors, "primary");

      svg {
        width: 2.6rem;
        height: 2.6rem;
      }
    }
  }


  .scroll__icon {
    position: absolute;
    bottom: 8rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.8);
    animation: scroll 1.5s ease-in-out infinite;
  }
}

/** Media Query */
@media (max-width: 500px) {
  .intro {
    .intro__info {
      .intro__summary {
        font-size: 1.8rem;
      }

      .self {
        font-size: 4rem;
        letter-spacing: -.5px;
      }

      .description {
        font-size: 1.4rem;
      }
    }

    .btn__container {
      .btn__download {
        font-size: 1.4rem;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .intro {
    .intro__info {
      .self {
        strong {
          margin-left: 3rem;
        }
      }

      .description {
        text-align: right;
      }
    }
  }
}

@media all and (min-width: 992px) {
  .intro {
    padding: 9rem 0 0;
    
    .intro__info {
      .self {
        margin: 6rem 0; 
        font-size: 8rem;
      }
    }

    .btn__container {
      gap: 3rem;

      .btn__github {
        svg {
          width: 3rem;
          height: 3rem;
        }
      }
    }
  }
}

/** Animation */
@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(2rem);
  }
}